.people-wrapper {
  position: relative;
  margin-top: 100px;
  h2 {
    font-family: $font-family-secondary;
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 70px;
    text-align: center;
    color: #272d4e;
  }
  .microCopy {
    margin-top: 1.9375rem;
    width: 35%;
    margin: auto;
    text-align: center;
  }
  .people-overview {
    margin: auto;
    display: block;
  }
}
.dotted-grid-red2-people {
  position: absolute;
  margin-left: 1500px;
  margin-top: 242px;
  z-index: -1;
}
.dotted-grid-red1-people {
  position: absolute;
  margin-left: 83px;
  z-index: -1;
  margin-top: 351px;
}

.circle-small {
    margin-left: 100px;
    margin-top: 166px;
}
.circle-extra-small {
    margin-left: 1614px;
    margin-top: 132px;
}

.circle-tiny {
    margin-left: 194px;
    margin-top: 294px;
}
