:root {
  font-family: $font-family-primary;
}

.microCopy {
  font-family: $font-family-primary;
  font-size: $font-size-primary;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(148, 162, 179, 1);
}

%circle {
  position: absolute;
  border: 5px solid #ffba49;
  border-radius: 50%;
}
.circle-tiny {
  @extend %circle;
  width: 34px;
  height: 34px;
}

.circle-extra-small {
  @extend %circle;
  width: 43px;
  height: 43px;
}
.circle-small {
  @extend %circle;
  width: 65px;
  height: 65px;
}
.circle-medium {
  @extend %circle;
  width: 88px;
  height: 88px;
}
.circle-large {
  @extend %circle;
  width: 262px;
  height: 262px;
}
.circle-extra-large {
  @extend %circle;
  width: 401px;
  height: 401px;
}
