@import "config";
@import "buttons";
@import "utilities";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  font-family: $font-family-primary;
}

li {
  list-style-type: none;
}

.wrapper {
  width: 100%;
  min-height: 1188px;

  background-image: linear-gradient(
    180deg,
    #e5efff 0%,
    rgba(229, 239, 255, 0.262661) 83.7%,
    rgba(229, 239, 255, 0) 100%
  );
}

.nav {
  //margin: 37px 55px 0px;
  padding-top: 37px;
  font-size: $font-size-primary;
  font-family: $font-family-primary;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .menu {
    display: flex;
    justify-content: space-evenly;
    width: 526px;
    margin-right: 350px;

    a {
      color: #272d4e;
      font-weight: 500;
      cursor: pointer;
    }
  }
  .action {
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    a {
      color: #272d4e;
      font-weight: 500;
    }
    .btn-rectangle {
      margin-left: 38px;
      margin-right: 20px;
      a {
        color: $button-font-color-primary;
      }
    }
  }
}

.hero-container {
  margin-top: 186px;
  margin-left: 220px;
  display: flex;
  .featured-image {
    margin-top: -35px;
    z-index: 1;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.hero {
  width: 818px;
  .hero-info {
    h1 {
      font-family: $font-family-secondary;
      font-size: 85px;
      font-weight: 700;
      line-height: 95px;
      letter-spacing: 0em;
      text-align: left;
    }
    .microCopy {
      margin-top: 29px;
    }
  }
  .vector {
    position: absolute;
    height: 1666px;
    width: 1768px;
    left: 750px;
    top: -529px;
    border-radius: 0px;
    z-index: 0;
  }
  .hero-cta-container {
    margin-top: 31px;
    display: flex;
    .btn-pill {
      margin-right: 12px;
    }
    .microCopy {
      a {
        font-size: 1.375rem;
        font-weight: 700;
        color: #299ef3;
        font-size: 1.375rem;
        font-weight: 700;
      }
    }
  }
}

.Test {
  background-color: blue;
}
