@import "config";
@import "buttons";
@import "utilities";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.wrapper {
  width: 100%;
  min-height: 1188px;
  background-image: linear-gradient(
    180deg,
    #e5efff 0%,
    rgba(229, 239, 255, 0.262661) 83.7%,
    rgba(229, 239, 255, 0) 100%
  );
  position: absolute;
}

.nav {
  margin: 37px 55px 0px;
  font-size: $font-size-primary;
  font-family: $font-family-primary;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .menu {
    display: flex;
    justify-content: space-evenly;
    width: 526px;
    margin-right: 350px;
    a {
      color: #272d4e;
      font-weight: 500;
    }
  }
  .action {
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    a {
      color: #272d4e;
      font-weight: 500;
    }
    .btn-rectangle {
      margin-left: 38px;
      margin-right: 20px;
      a {
        color: $button-font-color-primary;
      }
    }
  }
}

.hero {
  position: relative;
  .vector {
    position: absolute;
    height: 1666px;
    width: 1767px;
    ///width: 1767px;
    ///left: 957px;
    left: 957px;
    top: -579px;
    border-radius: 0px;
  }
  .featured-image {
    position: absolute;
  }
}
